{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "globals": {
    "document": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-unused-expressions": [
      "warn", {
        "allowTaggedTemplates": true
      }
    ]
  },
  "env": {
    "jest": true
  }
}