.blue-color {
  color: #339bff;
}

.green-color {
  color: #65cc33;
}

.red-color {
  color: #f33;
}

.grey-background {
  background-color: #bdccd4;
}

.white-background {
  background-color: #f7f7f7;
}

.main-text-color {
  background-color: #333;
}

.off-text-color {
  background-color: #888;
}
