.boundary-error {
  max-width: 480px;
  margin: 0 auto;
  align-self: center;
  composes: card from './Card.css';
}

.boundary-error-title {
  composes: card-h1 from './Card.css';
  text-align: center;
}

.boundary-error-message {
  composes: red-color from './Color.css';
  margin-bottom: 20px;
  text-align: center;
}

.boundary-error-footer {
  text-align: center;
}
